<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>AJAX</title>
    </head>
    <body>
        <h1>Learn AJAX</h1>
        <div id="output"></div>
        <button id="load">loadNew</button>
        <script>
            let outputTag = document.getElementById('output')
            let loadButton = document.getElementById('load')
            loadButton.addEventListener('click', function () {
                loadAjax()
            })
            
            function loadAjax() {
                let xhr = new XMLHttpRequest()
                xhr.onreadystatechange = function() {
                    console.log(xhr.readyState, xhr.status)
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        let jsonData = JSON.parse(xhr.response)
                        outputTag.innerHTML = jsonData.results[0].name.first 
                            + " " + jsonData.results[0].name.last
                            + "<br><img src='"+jsonData.results[0].picture.large+"'>"
                    }
                }
                xhr.open('GET', 'https://randomuser.me/api/', true)
                xhr.send()
            }
        </script>
    </body>
</html>