<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>AJAX XMLHttpRequest encadeado em loop infinito</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>AJAX XMLHttpRequest encadeado em loop infinito</h1>
        <div id="output">Soma: 0</div>
        <div id="output2">Novo: 0</div>
        <form id="form" method="post" action="/users">
            <input type="text" value="0">
            <input type="submit" name="action" value="start">
            <input type="submit" name="action" value="stop">
        </form>
        
        <script>
            let started = false
            let interval = null

            $(document).ready(function () {
                $("#form").submit(function (event) {
                    event.preventDefault()
                    let pressedButton = $("input[type=submit]:focus").attr("value")
                    
                    if (pressedButton == "start") {
                        if (started == false) {
                            iniciar()
                        }
                    }
                    else if (pressedButton == "stop") {
                        if (started == true) {
                            parar()
                        }
                    }
                })
            })
            
            function iniciar() {
                let xhr = new XMLHttpRequest()
                
                started = true
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.querySelector("h1").innerHTML = xhr.responseText
                        interval = setInterval(consultar, 1000)
                    }
                }
                
                xhr.open('POST', '/users/iniciar', true)
                xhr.send()
            }
            
            function parar() {
                let xhr = new XMLHttpRequest
                
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.querySelector("h1").innerHTML = xhr.responseText
                        clearInterval(interval)
                        consultar() //pro caso de ter ocorrido uma última atualização no servidor que não foi trazida pra página
                        started = false
                    }
                }
                
                xhr.open('POST', '/users/parar', true)
                xhr.send()
            }

            function consultar() {
                let xhr = new XMLHttpRequest()
                
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        atualizaPagina(xhr.responseText)
                    }
                }
                
                xhr.open('GET', '/users/consultar', true)
                xhr.send()
            }
            
            function atualizaPagina(http_response) {
                let json = JSON.parse(http_response)

                document.querySelector("#output").innerHTML = "Soma: "+json.soma
                document.querySelector("#output2").innerHTML = "Novo: "+json.novoNumero
            }
        </script>
    </body>
</html>